{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

{% block menu %}

	{% include ('menu/menu.html.twig') %}

{% endblock %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {{ knp_menu_render('main') }}
    {{ knp_menu_render('sidebar') }}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'F:/EclipseWorkspace/ATKalk/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'F:/EclipseWorkspace/ATKalk/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
